{% extends 'base.html.twig' %}

{% block title %}
	Groupe de musique pour votre mariage - Orchestre sur mesure
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous cherchez un groupe de musique pour votre mariage ? Musiciens professionnels, découvrez nos orchestres de jazz manouche avec accordéon. Devis gratuit !">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/triomanouche.jpg" alt="" class="flash-item__background" style="top: -50%;">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container bg--blank">
			<h1 class="section-title">
                Groupe de musique pour votre mariage <br>
                <small>Musiciens professionnels, formules sur mesure</small>
            </h1>

            <p>
                Vous êtes à la recherche de <strong>musiciens pour votre mariage</strong> ? Pas la peine d'aller plus loin, vous avez trouvé ! Du vin d'honneur au repas, nous assurons l'ambiance musicale de votre mariage avec des prestations <strong>de qualité</strong>.
            </p>

            <p>
                Votre mariage est une étape essentielle dans l'histoire de votre couple ; il est indispensable que votre soirée soit magique, inoubliable et exceptionnelle. Choisir un <strong>groupe de musique</strong> qui jouera en <i>live</i> apporte une touche originale et très classe à votre événement ! L'ambiance musicale que vous allez choisir est très importante, car elle vous accompagnera (vous et vos invités) du vin d'honneur au repas, peut-être même pendant la cérémonie et pour une partie de la nuit.
            </p>

			<p>
                Nous sommes <strong>musiciens professionnels</strong> et intervenons très régulièrement dans des mariages ; forts de notre expérience, nous proposons des formules et répertoires variés. Du jazz manouche à la chanson française, du solo au quintet.. C'est à vous de composer votre orchestre de mariage sur mesure, en choisissant les éléments que vous préférez !
            </p>

			<p>
				N'hésitez plus et <a href="{{ path('contact') }}">contactez-nous</a> pour plus d'informations ou pour un devis gratuit.
			</p>

            <h2 class="section-title section-title--small">Un accordéoniste en solo pour votre mariage</h2>

            <p>
                L'accordéon est un instrument riche, capable d'assurer à la fois la rythmique et la mélodie ; il est tout à fait adapté à des prestations en solo, notamment dans le cadre de <strong>votre mariage</strong> (vin d'honneur, repas, ...).
            </p>

            <p>
                Je propose un répertoire axé sur le <i>jazz</i> et la chanson française, convenant parfaitement en tant que musique d'ambiance.
            </p>

            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8eY4FsHf7g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mv3DgoYPCds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

            <p>
                <a style="margin-top: 15px;" href="{{ path('animations_mariages') }}" class="btn btn-primary">Plus d'informations</a>
            </p>

            <h2 class="section-title section-title--small">Un groupe de jazz manouche pour votre mariage</h2>

            <p>
                Pour une musique d'ambiance réussie lors de votre mariage, le <strong>groupe jazz manouche</strong> est sans contexte la formule idéale ! Style virtuose s'il en est, vous pourrez entendre des morceaux <i>swing</i> très rapides (<i>Daphné</i>, <i>Donna Lee</i>, ...), mais aussi de jolis thèmes lents et doux (<i>Nuages</i>, <i>Manoir de mes Rêves</i>, ...). Bien entendu, toujours en toute discrétion et dans l'élégance.
            </p>

            <p>
                Nous proposons des orchestres de mariage sur mesure : du duo au quintet. Notre répertoire est construit autour des standards jazz manouche, style musical popularisé par Django Reinhardt (Minor Swing, All of Me, Les Yeux Noirs, ...). Vous entendrez également quelques chansons françaises revisitées (Ménilmontant, C'est si bon, J'attendrai...), que les invités de votre mariage pourront reprendre en choeur.
            </p>

            <div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W_uOwoGcBuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CXq4DWhwqSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
				</div>
			</div>

            <p>
                <a style="margin-top: 15px;" href="{{ path('groupe_jazz_manouche_mariage_paris') }}" class="btn btn-primary">Plus d'informations</a>
            </p>

            <h2 class="section-title section-title--small">Une chanteuse pour votre mariage</h2>

            <p>
                Si vous aimez la chanson française, alors la voix est quasiment indispensable ! Je travaille avec plusieurs chanteuses, avec lesquelles nous reprenons un répertoire d'hier et aujourd'hui. Nos formules commencent au duo (accordéon / voix), mais peuvent tout à fait s'enrichir d'une guitare, contrebasse ou autre instrument en fonction de <strong>vos envies</strong>.
            </p>

			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k9SY8saaY3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o91BGe2Xaac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

            <p style="margin-top: 15px;">
                Nous nous déplaçons également dans le cadre de <a href="{{ path('animations') }}">tout type d'événement</a>.
            </p>
        </div>


    </section>
{% endblock %}
