{% extends 'base.html.twig' %}

{% block title %}
	Animation musicale à l'accordéon pour seniors, Paris et Ile de France | Jérémy DUTHEIL
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Animation musicale à l'accordéon pour seniors (maison de retraite, EHPAD), Paris et Ile de France : jazz, chanson française, musette, ...">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/seniors_pic.jpg" alt="" class="flash-item__background flash-item__background--groupes">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title">Animations musicales seniors</h1>

			<p>
				Accordéoniste professionnel basé à Paris (Ile de France), je suis disponible pour des <strong>animations musicales</strong> à destination des <strong>seniors</strong> ; je me déplace directement dans votre établissement (maison de retraite, EHPAD, ...). <br>
				Fort d'une expérience musicale conséquente, je vous propose un répertoire <strong>varié</strong> parcourant tous les styles et toutes les générations ; du musette au jazz, en passant par la chanson française et le tango, il y en aura pour <strong>tous les goûts</strong>.
			</p>

			<p>
				Suivant les envies de vos pensionnaires, nous préparerons en amont l'orientation du spectacle ; plutôt dansant, plutôt chanson, plutôt discret.. C'est vous (et vos seniors !) qui décidez tout. Je travaille avec des <strong>tarifs abordables</strong>, et des formules <strong>tout compris</strong> (sonorisation éventuelle, ...).
			</p>

			<p>
				N'hésitez pas à <a href="{{ path('contact') }}" class="text-link">me contacter</a> pour en discuter !
			</p>

			<h2 class="section-title section-title--small">Quelque extraits</h2>

			<div class="row">
                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8eY4FsHf7g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VVWMhc7LNcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2ikPP4jTAfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="col-md-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/_cyzXvBjHkE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
		</div>
		<!-- /.container -->
	</section>
{% endblock %}
