{% extends 'base.html.twig' %}

{% block title %}
    Accordéoniste jazz manouche - Paris - Ile de France
{% endblock %}

{% block metadesc %}
    <meta name="description" content="Jérémy Dutheil est un accordéoniste jazz manouche professionnel ; disponible seul ou en groupe pour des concerts et animations musicales dans toute la France.">
{% endblock %}

{% block body %}
    <section class="flash flash--limited">
        <div class="flash-item">
            <img src="img/triomanouche.jpg" alt="" class="flash-item__background" style="top: -50%;">
        </div>
    </section>

    <section class="flash-ghost flash-ghost--limited"></section>

    <section class="content-section bg--blank page-section">
        <div class="container bg--blank">
            <h1 class="section-title">Accordéoniste jazz manouche</h1>

            <p>
                Musicien professionnel, Jérémy Dutheil est un accordéoniste de jazz manouche basé sur Paris ; seul ou en groupe, il propose différentes formules de concerts et animations musicales dans toute la France (voir <a href="{{ path('manouche') }}">cette page</a>). <br />
                Son répertoire complet est axé autour des grands standards du style (<i>Minor Swing, All of Me, Indifférence, Les yeux noirs, Donna Lee, ...</i>) et de chansons françaises revisitées (<i>Les Feuilles Mortes, La Foule, Ménilmontant, ...</i>).
            </p>

            <h2 class="section-title section-title--small">Quelques extraits</h2>

            <div class="row">
				<div class="col-md-6">
					<iframe class="video-center" width="560" height="315" src="https://www.youtube.com/embed/W_uOwoGcBuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<p class="text-center" style="margin-top: 15px;">
						Ici avec notre propre arrangement de <i>La Foule</i>, célèbre morceau d'<strong>Edith Piaf</strong> ; nous avons choisi de l'interpréter dans une version douce et intimiste, pour un moment relaxant..
						<br><a href="https://www.youtube.com/watch?v=W_uOwoGcBuE" target="_blank">https://www.youtube.com/watch?v=W_uOwoGcBuE</a>
					</p>
				</div>

				<div class="col-md-6">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/Iklby0R-WyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<p class="text-center" style="margin-top: 15px;">
						Un grand classique parmi les standards jazz : <i>Sunny Side of the Street</i> !
					</p>
				</div>
			</div>

            <h2 class="section-title section-title--small">La place de l'accordéon dans le jazz manouche</h2>

            <p>
                Le jazz manouche est un style de musique qui apparaît dans les années 30, à l'initiative notamment de <strong>Django Reinhardt</strong> et <strong>Stéphane Grappelli</strong> ; d'abord essentiellement joué avec des instruments à corde (la guitare étant l'instrument roi du style !), les formations musicales s'étoffent rapidement pour accueillir d'autres instruments, comme l'accordéon, le violon ou la clarinette. <br>
                <strong>Jo Privat</strong> est l'un des premiers accordéonistes à avoir évolué dans ce milieu ; il est aujourd'hui une référence incontournable de l'accordéon jazz manouche. Historiquement accordéoniste musette, il rencontre Django Reinhardt et sera l'un des piliers du <i>Balajo</i>, jouant avec la plupart des grands guitaristes de jazz manouche de l'époque. Plus récemment, on peut entendre des accordéonistes tels que <strong>Ludovic Beier</strong> ou <strong>Marcel Loeffler</strong> évoluer dans ce style, et faire perdurer la tradition.
            </p>
        </div>
    </section>
{% endblock %}
