{% extends 'base.html.twig' %}

{% block title %}
	Jérémy Dutheil - Accordéoniste - Agenda, Concerts
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Retrouvez Jérémy Dutheil, accordéoniste, en concert dans toute la France !">
{% endblock %}

{% block body %}
	<style type="text/css">
		.bit-venue {
			color: #555555 !important;
		}

		.bit-rsvp { display: none !important; }
	</style>

	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/manouchebg.jpg" alt="Un groupe de jazz manouche pour vos événements - Avec accordéon" class="flash-item__background" style="top: -50%;">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container bg--blank">
			<h1 class="section-title section-title--centered">Agenda</h1>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>
			<h2 class="section-title section-title--centered"><small>Les concerts</small></h2>

            <p>
                Retrouvez ci-dessous les prochaines dates de concert avec Jérémy Dutheil et ses différents projets (Jérémy Dutheil & Solal Poux - Jazz manouche, Rue la Môme, Marie Pétrolette ou solo). Pour suivre l'actualité et les dernières nouvelles, rendez-vous sur <a href="https://www.facebook.com/jeremydutheilaccordeoniste" target="_blank">la page Facebook Jérémy Dutheil</a>.
            </p>

            <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="Jérémy Dutheil" data-display-local-dates="false" data-language="fr" data-display-past-dates="true" data-auto-style="false" data-text-color="#000000" data-link-color="#ff841c" data-background-color="rgba(0,0,0,0)" data-display-limit="15" data-display-start-time="false" data-link-text-color="#2D2D2D" data-display-lineup="false" data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)"></a>
		</div>
    </section>
{% endblock %}
