{% extends 'base.html.twig' %}

{% block title %}
	Groupe jazz manouche pour votre mariage ! (Vin d'honneur, repas, ...)
{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous cherchez un groupe de jazz manouche pour votre mariage ? Musiciens professionnels, découvrez nos formules.">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/triomanouche.jpg" alt="" class="flash-item__background" style="top: -50%;">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container bg--blank">
			<h1 class="section-title">Groupe jazz manouche pour votre mariage</h1>

            <p>
                Vous préparez votre mariage (ou l'organisez pour des clients), et vous cherchez un <strong>groupe de jazz manouche</strong> pour animer celui-ci en musique ? Du vin d'honneur au repas, découvrez nos formules qui raviront à coup sûr vos invités !
			</p>

            <p>
                Un mariage est un événement particulièrement important dans la vie d'un couple ; vous souhaitez faire de cette soirée un moment inoubliable. Le choix de l'ambiance musicale est essentiel, car elle accompagnera vos invités du vin d'honneur au repas, ou peut-être même pendant la cérémonie.
            </p>

			<p>
				Retrouvez l'ambiance des années 30 lors de votre soirée avec notre groupe de musiciens professionnels, au son des standards du style popularisé par Django Reinhardt. La guitare se fait tantôt rythmique, tantôt soliste, la contrebasse enchaîne les <i>walking bass</i>, l'accordéon s'envole par moments.. Le jazz manouche, musique virtuose s'il en est, apportera à votre réception une touche <i>vintage</i>, mais surtout très chic.
			</p>

			<p>
				Afin de s'adapter au mieux à vos envies et votre budget, nous proposons <strong>différentes formules</strong> de groupe jazz manouche pour votre mariage, à partir du duo (voir ci-dessous) ; nous sommes également complètement autonomes en matériel de sonorisation. Nous nous occupons de tout, vous n'avez plus qu'à apprécier !
			</p>

			<p>
				N'hésitez plus et <a href="{{ path('contact') }}">contactez-nous</a> pour plus d'informations.
			</p>

            <h2 class="section-title section-title--small">Duo jazz manouche pour votre mariage</h2>

            <p>
				En duo avec l'excellent guitariste Solal Poux, nous vous proposons une formule facile à mettre en place, convenant aux lieux les plus intimistes (et budgets modestes). En acoustique ou légèrement sonorisé, nous assurons le déroulement musical de votre soirée dans une ambiance chic et élégante ; alternant les morceaux virtuoses et les balades langoureuses, le répertoire est varié et plaira à tous !
			</p>

            <p>
                L'accordéon et la guitare sont deux instruments qui se complètent très bien, et conviennent parfaitement au répertoire <strong>jazz manouche</strong> ; chaque instrument se faire tour à tour rythmique ou soliste, prenant la place mélodique avant d'accompagner ensuite l'autre musicien.
            </p>

            <p>
                Pour votre mariage, nous assurons la musique d'ambiance pendant le vin d'honneur ou lors du repas ; les prestations que nous proposons durent en moyenne 3h, mais nous pouvons bien sûr discuter des horaires en amont. N'hésitez pas à nous demander à l'avance des morceaux spécifiques que vous aimeriez entendre, afin que nous les préparions pour le jour J !
            </p>

            <div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W_uOwoGcBuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<p class="text-center" style="margin-top: 15px;">
						Ici avec notre propre arrangement de <i>La Foule</i>, célèbre morceau d'<strong>Edith Piaf</strong> ; nous avons choisi de l'interpréter dans une version douce et intimiste, pour un moment relaxant..
						<br><a href="https://www.youtube.com/watch?v=W_uOwoGcBuE" target="_blank">https://www.youtube.com/watch?v=W_uOwoGcBuE</a>
					</p>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iklby0R-WyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<p class="text-center" style="margin-top: 15px;">
						Un grand classique parmi les standards jazz : <i>Sunny Side of the Street</i> !
					</p>
				</div>
			</div>

            <h2 class="section-title section-title--small">Trio jazz manouche pour votre mariage</h2>

			<p>
                Frédéric Debraine rejoint notre duo avec sa contrebasse, assurant une assise rythmique essentielle au style ; l'instrument apporte également une touche visuelle non négligeable, ambiance assurée ! Le son se fait plus <i>complet</i> grâce à l'apport des basses, la rythmique plus pêchue ; une formation réduite qui n'a rien à envier aux grands orchestres !
            </p>

            <div class="row">
                <div class="col-md-12">
					<div class="embed-responsive embed-responsive-16by9">
                    	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CXq4DWhwqSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

                    <p class="text-center" style="margin-top: 15px;">
                        Quelques extraits en trio jazz manouche : Bossa Dorado, Autumn Leaves, All of Me, All the Things you Are, Fly me to the Moon
                    </p>
                </div>
            </div>

            <h2 class="section-title section-title--small" style="margin-top: 15px;">Quartet et plus</h2>

            <p>
                Nous pouvons également venir à 4 ou plus : ajout d'une seconde guitare rythmique pour plus de punch, arrivée d'un violon pour d'autres possibilités mélodiques, une chanteuse pour les thèmes, ... Ce ne sont que des exemples, n'hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> pour établir une formule sur mesure pour votre événement.
            </p>

            <h2 class="section-title section-title--small">Quelques titres du répertoire</h2>

            <ul>
                <li>
                    Minor Swing
                </li>

                <li>
                    Bossa Dorado
                </li>

                <li>
                    Swing 42
                </li>

                <li>
                    Blues Mineur
                </li>

                <li>
                    Les Yeux Noirs
                </li>

                <li>
                    Ménilmontant
                </li>

				<li>
					Indifférence
				</li>

                <li>
                    Manoir de mes Rêves
                </li>

                <li>
                    Danube (Anniversary Song)
                </li>

                <li>
                    All the things you are
                </li>

                <li>
                    Sunny Side of the Street
                </li>

                <li>
                    Nuages
                </li>

                <li>
                    All of Me
                </li>

                <li>
                    Autumn Leaves
                </li>

				<li>
					Made in France
				</li>

                <li>
                    Lulu Swing
                </li>

                <li>
                    Daphné
                </li>

                <li>
                    <i>Et bien d'autres...</i>
                </li>
            </ul>

			<p>
				Nous nous déplaçons également pour <a href="{{ path('manouche') }}">tous vos événements</a>.
			</p>
        </div>


    </section>
{% endblock %}
