{% extends 'base.html.twig' %}

{% block title %}Soirée guinguette avec un accordéoniste : rétro & chic !{% endblock %}

{% block metadesc %}
	<meta name="description" content="Vous êtes à la recherche d'un accordéoniste pour animer votre soirée guinguette ? En solo ou duo avec chanteuse, découvrez nos prestations.">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/solo-anims-paris.webp',
																				 'jpeg': 'img/solo-anims-paris.jpg'
																			   },
																	'default': 'img/solo-anims-paris.jpg',
																	'lazyload': false,
																	'alt': 'Accordéoniste pour votre soirée et vos événements',
																	'title': 'Accordéoniste pour votre soirée et vos événements',
																	'class': 'flash-item__background',
																	'style': 'top: -330px;' } %}
		</div>
	</section>

	<section class="flash-ghost"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title">Une soirée guinguette au son de l'accordéon</h1>

			{{ include('utils/contact-cta.html.twig') }}

            Vous vous lancez dans l'organisation d'une soirée, et souhaitez donner une touche <i>rétro</i> à votre événement ? L'accordéon est l'instrument par excellence pour un thème guinguette : nappes à carreaux, décoration champêtre et chansons des années 50 !

            <h2 style="margin-top: 15px;" class="section-title section-title--small">Les origines de la guinguette</h2>

            <p>
                Les premières guinguettes apparaissent au début du XIXe siècle en banlieue parisienne. Ces cabarets populaires où l'on vient danser s'installent sur les bords de la Seine ou de la Marne, afin d'échapper à la taxe sur les marchandises qui a lieu à Paris. Lieux emblématiques et très liés à l'histoire de l'accordéon, certaines sont très connues, notamment à Joinville-le-Pont ou Nogent-sur-Marne.
            </p>

            <p>
                L'interdiction de la baignade dans les rivières et l'arrivée des musiques anglo-saxonnes en France provoque le déclin des guinguettes dans les années 1960. Cependant, on assiste à un renouveau à partir des années 1980 ; les guinguettes ré-ouvrent, se modernisent mais pérpétuent tout de même une certaine "tradition" !
            </p>

            <h2 style="margin-top: 15px;" class="section-title section-title--small">Une soirée guinguette aujourd'hui</h2>

            <div class="row">
				<div class="col-md-8">
					<p>
                        L'esprit <i>guinguette</i> revient en force de nos jours, apportant une touche rétro mais très élégante à votre événement. On retrouve ce thème aussi bien dans des soirées privées entre amis, lors du vin d'honneur d'un mariage ou dans des cocktails d'entreprise.
                    </p>

                    <p>
                        L'accordéoniste y est présent, de par la musique d'ambiance qu'il distille, mais également par un aspect visuel qui rappelle l'époque. Seul ou accompagné d'une chanteuse, je vous propose un répertoire autour des grandes chansons françaises des années 50-60 : Piaf, Brel, Montant, Aznavour, ... À ces chansons s'ajoutent des standards de jazz et jazz manouche, des morceaux qui swinguent et apportent une certaine originalité à ce moment.
                    </p>

					<p>
						Pour votre <strong>soirée guinguette</strong>, je vous propose des animations seul à l'accordéon, ou bien accompagné d'une chanteuse. En duo <strong>accordéon / voix</strong>, nous proposons un répertoire qui balaie la chanson française des années 30 à aujourd'hui.
					</p>

					<p>
						Nous pouvons également venir en duo accordéon / guitare, avec lequel nous proposons également un <a href="{{ path('manouche') }}">répertoire jazz manouche</a>. Dans le cadre de votre soirée guinguette, nous mixons alors les différents répertoires : de la valse swing à la chanson française (Brel, Aznavour, ... en versions instrumentales) en passant par le swing des années 30, vos invités seront conquis à coup sûr !
					</p>
				</div>

				<div class="col-md-4">
					{% include 'utils/picture.html.twig' with { 'sources': { 'webp': 'img/accordeoniste_soiree.webp',
																				 'jpeg': 'img/accordeoniste_soiree.JPG'
																			   },
																	'default': 'img/accordeoniste_soiree.JPG',
																	'lazyload': false,
																	'alt': 'Accordéoniste pour votre soirée et vos événements',
																	'title': 'Accordéoniste pour votre soirée et vos événements',
																	'class': 'img-fluid page-section__img',
																	'style': '' } %}
				</div>
				<!-- /.col-sm-4 -->
			</div>

			<p>
				Pour d'autres formations, je vous invite à consulter la page dédiée à notre <a href="{{ path('musiciens_soirees') }}">groupe de musique pour soirée</a>.
			</p>

            <h2 style="margin-top: 15px;" class="section-title section-title--small">Quelques extraits d'accordéon guinguette</h2>

            <div class="row">
				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'CjtwtX3Sd8Q', 'title': 'Aux Champs Elysées - Accordéoniste pour votre soirée' } %}
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'oSiWQ_thsn8', 'title': 'Accordéon guinguette - Java Manouche (Jo Privat)' } %}
				</div>

                <div class="col-md-6" style="margin-bottom: 10px;">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': 'k9SY8saaY3I', 'title': 'Animation musicale avec chanteuse' } %}
				</div>

				<div class="col-md-6">
					{% include 'utils/youtubelazy.html.twig' with { 'youtubeId': '-h2oJAjzAtg', 'title': 'Accordéon jazz - Sunny Side of the Street' } %}
				</div>
            </div>

		{{ include('utils/contact-cta.html.twig') }}

        </div>
    </section>

	<script defer>
	"use strict";

	!function() {
	var t = window.driftt = window.drift = window.driftt || [];
	if (!t.init) {
		if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
		t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
		t.factory = function(e) {
		return function() {
			var n = Array.prototype.slice.call(arguments);
			return n.unshift(e), t.push(n), t;
		};
		}, t.methods.forEach(function(e) {
		t[e] = t.factory(e);
		}), t.load = function(t) {
		var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
		o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
		var i = document.getElementsByTagName("script")[0];
		i.parentNode.insertBefore(o, i);
		};
	}
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('beeybihz4kn4');
	</script>
	<!-- End of Async Drift Code -->
{% endblock %}
