{% extends 'base.html.twig' %}

{% block title %}
	Accordéoniste - Paris - Vidéos - Jazz, Jazz manouche, Chanson
{% endblock %}

{% block metadesc %}
    <meta name="description" content="Jérémy Dutheil est accordéoniste professionnel à Paris. Découvrez ici des extraits vidéos : solo accordéon jazz, avec un groupe de jazz manouche et en duo chanson.">
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/videos-new.jpg" alt="" class="flash-item__background flash-item__background--groupes">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title">Vidéos <small>accordéon jazz & chanson</small></h1>

			<p>
				Accordéoniste jazz & chanson, je vous invite à découvrir mon répertoire en solo ou accompagné d'autres musiciens. L'ensemble de mes vidéos d'accordéon est disponible en ligne sur <a href="https://www.youtube.com/channel/UCTHC327qYeB34ri8Fgzubjw" target="_blank">ma page Youtube</a>.
			</p>

			<div class="row">
				<div class="col-md-12">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-h2oJAjzAtg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<h2 class="section-title section-title--small" style="margin-top: 20px;">Accordéon jazz et valses swing - en solo</h2>

			<p>
				Mon répertoire de prédilection, que je propose en solo à l'accordéon : jazz (standards, manouche, ...) et valses swing (Privat, Viseur, ...) !
			</p>

			<div class="row">
				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-h2oJAjzAtg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mv3DgoYPCds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oSiWQ_thsn8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/od3lmo26AaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

				</div>
			</div>

			<h2 class="section-title section-title--small" style="margin-top: 20px;">Jérémy Dutheil & Solal Poux : duo jazz manouche accordéon / guitare</h2>

			<p>
				En duo avec l'excellent guitariste Solal Poux, nous proposons un répertoire axé principalement sur le <strong>jazz manouche</strong> ; les compositions de Django Reinhardt sont mises en avant, même si on retrouve également des morceaux issu du répertoire jazz plus traditionnel. <br>
				Nous sommes <strong>en tournée en 2020</strong>, et vous pouvez découvrir toutes les dates de concert dans la section dédiée. Nous nous produisons également pour des événements privés (entreprise ou particulier) en région parisienne.
			</p>


			<div class="row">
				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BGGrRG-q4VU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CWUY-repj8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u8re-Ba8RQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W_uOwoGcBuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Iklby0R-WyQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>


				</div>

				<div class="col-md-6" style="margin-bottom: 15px;">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9b6zyj1e2cE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<p>
				<a href="{{ path('manouche') }}" class="btn btn-primary">Plus d'informations <span class="d-none d-md-inline">sur le duo accordéon / guitare</span></a>
			</p>

			<h2 class="section-title section-title--small">Le groupe jazz manouche</h2>

			<p>
				Avec notre groupe de jazz manouche, nous proposons également des formules en trio (accordéon / guitare / contrebasse ou accordéon / 2 guitares) et quartet (accordéon / 2 guitares / contrebasse). Voici ci-dessous quelques extraits.
			</p>

			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NIvIUJcluU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CXq4DWhwqSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<p style="margin-top: 15px;">
				<a href="{{ path('manouche') }}" class="btn btn-primary">Plus d'informations <span class="d-none d-md-inline">sur le groupe jazz manouche</span></a>
			</p>

			<h2 class="section-title section-title--small">Accordéon solo - Esprit guinguette</h2>

			<p>
				Un aperçu de mon répertoire solo dans un esprit guinguette : swing, chanson française et valses ! Il s'agit d'une formule très adaptable, disponible en acoustique ou sonorisé, appropriée aux petits espaces ou ambiances champêtres...
			</p>


            <div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oSiWQ_thsn8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
                    	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/od3lmo26AaE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
            </div>

            <div class="row" style="margin-top: 20px;">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CjtwtX3Sd8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8eY4FsHf7g0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
            </div>

			<p style="margin-top: 20px;">
				<a class="btn btn-primary" href="{{ path('accordeoniste_soiree') }}">Plus d'informations <span class="d-none d-md-inline">sur la formule en solo</span></a>
			</p>

			<h2 class="section-title section-title--small">Duos accordéon / voix</h2>

			<p>
				Je travaille également avec plusieurs chanteuses, me permettant de proposer des concerts autour de la chanson française en duo accordéon / voix ; chacune possède son propre timbre de voix, et propose un répertoire différent. N'hésitez pas à <a href="{{ path('contact') }}">me contacter</a> pour en savoir plus.
			</p>

			<div class="row">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k9SY8saaY3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o91BGe2Xaac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gtqG5br0M60" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_cyzXvBjHkE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>

            <h2 class="section-title" style="margin-top: 20px;">Audio</h1>

			<p>
				Plus complets, ces enregistrements ont été réalisés en studio ; forcément moins spontanés qu'en <i>live</i>, mais avec des arrangements préparés et pour la plupart des CDs disponibles physiquement.
			</p>

			<!--<div class="row">
				<div class="col-md-12">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=false&width=700&height=350&color=ff0000&layout=dark&size=medium&type=radio&id=artist-85885612&app_id=1" class="embed-responsive-item"></iframe>
					</div>
				</div>
			</div>-->

            <div class="row">
                <div class="col-md-12">
					<div class="embed-responsive embed-responsive-16by9">
                    	<iframe class="embed-responsive-item" scrolling="yes" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/400925852&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false"></iframe>
					</div>
				</div>
            </div>
        </div>
    </section>
{% endblock %}
