@media screen and (min-width: 1000px) {
    .flash {
        position: fixed;
        height: 100vh;
    }

	.flash-ghost {
        position: relative;
		height: 80vh;
	}

    .flash--limited { height: 80vh; }
	.flash-ghost--limited { height: 50vh; }

    .flash--blog { height: 20vh; }
    .flash-ghost--blog { height: 10vh; }

	.flash-item__content {
		display: block;
	}

    .flash-item {
        height: 100%;

    	display: flex;
    	align-items: top;
    }

    	.flash-item__background {
    		position: absolute;
    		top: 0;
    		left: 0;
    	}

    .section-title {
        font-size: 50px;
    }
}
