body {
	font-family: 'Hind', sans-serif;
	font-size: 18px;
	line-height: 22px;

	background-color: #e4e4e4;

	overflow-x: hidden;
	text-align: justify;
}

.home-pic {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}

.home-pic-wrapper {
	background-color: #070707;
}

.wrapper {
	color: #222222;
	padding-top: 25px;
}

.foot {
	background-color: #070707;
	width: 100%;
	padding: 10px 0;
	color: #FFFFFF;
	margin-top: 15px;
}

.foot a { color: #FFFFFF; }
.foot a:hover { text-decoration: none; }
.foot p { margin: 0; font-size: 14px; }

h1, h2, h3 {
	font-weight: bold;
    line-height: 43px;
    margin: 0 0 28px 0;

    padding: 0;
    padding-left: 30px;

    position: relative;
    text-transform: uppercase;

    color: #2d2d2d;
    font-size: 50px;

    font-family: 'Oswald', sans-serif;
    letter-spacing: -1px;
}

a {
	color: #222222;
}

a:hover { color: #ff841c; text-decoration: none; }

h2 {
	font-size: 44px;
	padding: 20px 0;
	border-top: 1px solid #ff841c;
	border-bottom: 1px solid #ff841c;
}

h3 {
	font-size: 30px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	margin-bottom: 0;
}

h3 small {
	display: block;
	font-size: 20px;
}

	h1:before {
		border-right: 13px solid #ff841c;
		content: '';
		height: 100%;
		right: 0;
		position: absolute;
		top: 0;
		width: 13px;
	}

	h1:after {
		border-left: 13px solid #ff841c;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 13px;
	}

.img-thumb-center {
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
}

.thumb--landscape { max-width: 750px; }

.team-img {
	display: block;
	width: 50%;
	margin: 10px auto;
}

.team-txt { text-align: justify; }
