{% if form_ok == false %}
    <div class="form-content" style="margin-bottom: 25px;">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>

    <p class="alert alert-success valid-msg" style="display: none;">
        Votre message a bien été envoyé, merci ! Je reviendrai vers vous dès que possible.
    </p>
{% else %}
    <p class="alert alert-success">
        Votre message a bien été envoyé, merci ! Je reviendrai vers vous dès que possible.
    </p>
{% endif %}
