{% extends 'base.html.twig' %}

{% block title %}Contact | Jérémy Dutheil | Accordéoniste, Paris{% endblock %}

{% block metadesc %}
	<meta name="description" content="Une question ? Un projet à proposer ? Besoin d'un devis pour une animation musicale ? Contactez moi !">
{% endblock %}

{% block heading %}<!-- Event snippet for prise de contact conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-963077797/BLgUCM3rwasBEKXNncsD'});
</script>
{% endblock %}

{% block body %}
	<section class="flash flash--limited">
		<div class="flash-item">
			<img src="img/flash-item-1.jpg" alt="" class="flash-item__background">
		</div>
	</section>

	<section class="flash-ghost flash-ghost--limited"></section>

	<section class="content-section bg--blank page-section">
		<div class="container">
			<h1 class="section-title section-title--centered">Contact</h1>
			<div class="hr hr-short hr-center"><span class="hr-inner "><span class="hr-inner-style"></span></span></div>

			<p>
				Une question ? Un projet à me proposer ? Besoin d'un devis pour l'animation musicale de votre événement ? <br>
                N'hésitez pas à m'envoyer un message à l'aide du formulaire suivant, je vous répondrai dans les plus brefs délais.
			</p>

			<div class="row">
				<div class="col-sm-8">
					<h2 class="section-title section-title__small">Formulaire</h2>

					{% if form_ok == false %}
						<div style="margin-bottom: 25px;">
							{{ form_start(form) }}
							{{ form_widget(form) }}

							<button type="submit" class="btn btn-primary">Envoyer</button>
							{{ form_end(form) }}
						</div>
					{% else %}
						<p class="alert alert-success">
							Votre message a bien été envoyé, merci ! Je reviendrai vers vous dès que possible.
						</p>
					{% endif %}
				</div>

				<div class="col-sm-4">
					<h2 class="section-title section-title__small">Informations</h2>

					<p>
						<strong>Pour les demandes liées à l'événementiel, merci de préciser :</strong>

						<ul>
							<li>
								La date et le lieu de votre événement
							</li>

							<li>
								Le style de musique préféré
							</li>

							<li>
								Le temps de jeu désiré, et les horaires estimées
							</li>

							<li>
								Votre budget approximatif (afin de pouvoir vous conseiller au mieux sur les formules)
							</li>

							<li>
								Le plus de détails possible sur votre événement !
							</li>
						</ul>
					</p>

					<p>
						Je reviendrai vers vous très rapidement afin de vous conseiller, et de vous proposer un devis.
					</p>
				</div>
			</div>

			<p>
				Vous pouvez également me contacter par mail : <a href="mailto:dutheil.jeremy@gmail.com" class="text-link">dutheil.jeremy@gmail.com</a> ou téléphone : 06.85.38.22.16
			</p>
		</div>
	</section>

{% endblock %}
