{% extends 'base.html.twig' %}

{% block title %}
	Erreur 404
{% endblock %}

{% block metadesc %}

{% endblock %}

{% block body %}
    <div class="container">
        <p>
            Désolé, cette page n'existe pas ! <a href="/">Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}
